<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/orm_competicion</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.hbm2ddl.auto">drop-and-create</property> <!-- drop-and-create -->

		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		
		<!-- Mapeo de entidades -->
		<mapping class="entity.Equipo" />
		<mapping class="entity.Patrocinador" />
		<mapping class="entity.Competicion" />
		<mapping class="entity.Jugador" />
		<mapping class="entity.Partido" />
		<mapping class="entity.PartidoResults"/>
		<mapping class="entity.Entrenador" />
	</session-factory>
</hibernate-configuration>
